
.Menu {
    padding: 2.5%;    
    padding-left: 20%;
}

.Menu h1{
    align-self: left;
    text-align: left;
    align-items: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    
}

.Menu:hover{
    background-color:  #E5E5E5;
}

.Menu .set{
    font-weight: 700;
}