
.Usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: normal;
    height: 30%;
    width: 100%;
    margin-bottom: 10%;
    
}

.UsuarioDados{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.UsuarioDados h1{
    color: #727272;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0;
}

.UsuarioDados h2{
    color: #727272;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;  
}

.UsuarioFoto{
    margin-top: 20%;
    width: 90px;
    border-radius: 100%;
}

