.BoxProf{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.infosProf{
    display:flex ;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.infosProf h1{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #727272;
}

.BoxProf h2{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #727272;
}

.ProfFoto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfFoto img{
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}