.Principal{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        
    }

.Paginas{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0;
    margin: 0;
}

.navLink{
    text-decoration: none;
    color: #6A6A6A;
}