.Principal{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
    }

.Paginas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0;
    margin: 0;
}

.Menu {
    list-style-type:none;
    flex-direction: column;
    padding: 2.5%;
    padding-left: 0;
    
}

.Menu h1{
    font-family: Nunito;
    text-align: left;
    font-size: 144%;
}

.Menul1 h1:hover{
    background-color:  #E5E5E5;
}